<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bug Report</title>
		<link rel="icon" type="image/x-icon" href="/images/logo.png" />
		<link rel="stylesheet" href="styles/body.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://kit.fontawesome.com/14f5c21a4d.js"
			crossorigin="anonymous"
		></script>
	</head>

	<body>
		<nav>
			<div class="logo">
				<img src="images/logo.png" alt="logo" id="nav-logo" />
				<p id="logo-text">Bug Report</p>
			</div>

			<ul class="nav-links">
				<li class="nav-btn"><a href="#hero">Home</a></li>
				<li class="nav-btn"><a href="#create">Create</a></li>
				<li class="nav-btn"><a href="#post">Post</a></li>
				<li class="nav-btn"><a href="#footer">About</a></li>
				<li class="nav-btn sign-in"><a href="/sign.ejs">Sign in</a></li>
			</ul>
		</nav>
		<section class="hero" id="hero">
			<div class="hero-container">
				<h2>Our Blog</h2>
				<h1>
					Bugs Reported,<br />
					Solutions Shared.
				</h1>
				<p>
					A collaborative hub where developers post coding bugs and their
					efficient solutions to streamline troubleshooting and
					knowledge-sharing.
				</p>
			</div>
		</section>
		<section class="create" id="create">
			<div class="create-header">
				<h2>Create Posts</h2>
				<button class="addBtn">Add <i class="fa-solid fa-plus"></i></button>
			</div>
		</section>
		<section class="form create-form">
			<form action="/submit" method="POST" class="float">
				<label for="postInput"
					>Create A Post
					<button type="button" class="closeBtn">
						<i class="fa-solid fa-xmark"></i></button
				></label>
				<textarea
					rows="5"
					type="text"
					name="postInput"
					placeholder="Enter your bug and solution here..."
					required
				></textarea>
				<button>Post <i class="fa-solid fa-right-to-bracket"></i></button>
			</form>
		</section>
		<section class="benefits">
			<div class="benefits-card">
				<img src="images/sectionbg1.jpg" alt="benefits card image 1" />
				<h2>Easy Tracking</h2>
				<p>Keep your past bugs in one easy-to-access place at once.</p>
			</div>
			<div class="benefits-card">
				<img src="images/sectionbg2.jpg" alt="benefits card image 1" />
				<h2>Time Saving</h2>
				<p>Save your time from solving problems you've already solved.</p>
			</div>
			<div class="benefits-card">
				<img src="images/sectionbg3.jpg" alt="benefits card image 1" />
				<h2>Smoother Debugging</h2>
				<p>A problem shared is a problem solved, same for a problem posted.</p>
			</div>
		</section>

		<section class="post" id="post">
			<div class="create-header">
				<h2>Latest Posts</h2>
			</div>
			<div class="post-container">
				<% if (data.length === 0) { %>
				<p>Your latest posts will appear here...</p>
				<%} else { %> <% data.forEach(data => { %>
				<div class="post-card">
					<p><%= data.post %></p>
					<div class="post-card-icons">
						<form method="POST">
							<button
								type="submit"
								name="post"
								value="<%=data.post  %>"
								formaction="/edit"
								class="post-icon editBtn"
							>
								<i class="fa-solid fa-pen-to-square"></i>
							</button>
							<button
								name="id"
								value="<%=data.count %>"
								type="submit"
								formaction="/delete"
								class="post-icon"
							>
								<i class="fa-solid fa-trash"></i>
							</button>
						</form>
					</div>
				</div>

				<% }); %> <% } %>
			</div>
		</section>
		<section id="footer">
			<footer>
				<div class="copyright">©Ehizojie Azamegbe</div>
				<div class="social-icons">
					<a
						href="https://linkedin.com/in/ehizojie-azamegbe-082ba52b9"
						target="_blank"
						><i class="fa-brands fa-linkedin"></i
					></a>
					<a href="https://github.com/Ehiz-js" target="_blank"
						><i class="fa-brands fa-github"></i
					></a>
					<a href="https://x.com/devycrafter" target="_blank"
						><i class="fa-brands fa-twitter"></i
					></a>
					<a href="https://www.instagram.com/ehiz.xd/" target="_blank"
						><i class="fa-brands fa-instagram"></i
					></a>
					<a href="https://www.youtube.com/@EHIZXD" target="_blank"
						><i class="fa-brands fa-youtube"></i
					></a>
					<a href="https://www.tiktok.com/@ehiz.xd" target="_blank"
						><i class="fa-brands fa-tiktok"></i
					></a>
				</div>
			</footer>
		</section>

		<script src="scripts/script.js"></script>
	</body>
</html>
