<section class="form edit-form">
	<form action="/edit" method="POST" class="float">
		<label for="postInput"
			>Edit A Post
			<button type="button" class="closeBtn edit-close-btn">
				<i class="fa-solid fa-xmark"></i></button
		></label>
		<textarea rows="5" type="text" name="postInput" required>
<%= data.post %></textarea
		>
		<button>Post <i class="fa-solid fa-right-to-bracket"></i></button>
	</form>
</section>
